.container {
  position: relative;
  width: 100%;
  min-width: 130px;

  .sort {
    display: flex;
    span {
      font-weight: 500;
      color: white;
      cursor: pointer;
    }
  }
  .List {
    margin-top: 5px;
    z-index: 2;
    position: absolute;
    right: 0;
    background-color: black;

    ul {
      li {
        width: 100%;
        height: 25px;
        color: white;
        cursor: pointer;
        &:hover {
          background-color: rgb(32, 32, 32);
        }
      }
      .active {
        background-color: rgb(42, 42, 42);
        color: white;
      }
    }
  }
}
